*{margin: 0px; padding: 0px;}
@media (max-width: 600px) {
*{font-size: 12px;}}

a{text-decoration: none;}


li {list-style: none;}

h1{font-size: 20px;
    color: #212931;
    text-align:middle;
}

h2{font-size: 20px;
    color: #212931;
    text-align:middle;
}

#wrapper{
    max-width: 1080px;
    margin: 20px auto;
}
@media (max-width: 600px) {
    #wrapper {
        max-width: 600px;
        margin: 0 auto;
    }
  }

#status{
    float: left;
    margin: 10px;

}
#result{
    float: left;
    margin: 10px;
    vertical-align: middle;
   
}