*{margin: 0px; padding: 0px;}

a{text-decoration: none;}

li {list-style: none;}

h1{font-size: 20px;
    color: #212931;
    text-align:middle;
}

#wrapper{
    max-width: 1080px;
    margin: 0 auto;
}