@font-face {
  font-family :'Mabinogi';
  src : url(Mabinogi.otf)
}

*{margin: 0px; padding: 0px;}
@media (max-width: 1000px) {
*{font-size: 12px;}}

a{text-decoration: none;}


li { font-family:'Mabinogi';
    list-style: none;}

h1{ font-family:'Mabinogi';
    font-size: 20px;
    color: #212931;
    text-align:center;
}

h2{ font-family:'Mabinogi';
    font-size: 20px;
    color: #212931;
    text-align:left;
}

#wrapper{
    font-family:'Mabinogi';
    max-width: 1080px;
    margin: 20px auto;
}
@media (max-width: 600px) {
    #wrapper {
        max-width: 600px;
        margin: 0 ;
    }
  }

#status{
    float: left;
    margin: 10px;

}
@media (max-width: 1000px) {
    #status1{
     width: 350px;
    }
}
#result{
    float: left;
    margin: 10px;
    vertical-align: middle;
   
}
select{font-family:'Mabinogi'}

input{font-family:'Mabinogi'}
