*{margin: 0px; padding: 0px;}

a{text-decoration: none;}

/*li {list-style: none;}*/

h1{font-size: 50px;
    color: #212931;
    text-align:center;
    @media (min-width: 500px) {
        .title {
          font-size: 20px;
        }
      }

}
/*전체가운데 정렬*/
#wrapper{max-width: 1080px;
         margin: 0 auto;
}



header{
    float: left;
    width: 100%;     
    height: auto;
    background-color: #00004a;
    color: white;
}


/*메뉴*/

#manu ul li {
    float: left; 
    margin: 0 auto;
    list-style-type: none;
    text-align:center;
    width: 20%; 
    height: 50px;
    line-height: 50px; 
    background-color: #333;
    display:block;

}

#manu ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}


#manu ul li a:hover:not(.active) {
    background-color: #111;
}




.frame1{
    float: left;
    position: relative;
       width: 1080px;
       padding-bottom: 100%;

}
.frame1 iframe{
    position: absolute;
    width: 100vh;
    height: 100vw;
         
}