@font-face {
  font-family :'Mabinogi';
  src : url(Mabinogi.otf)
}

*{margin: 0px; padding: 0px;}

a{text-decoration: none;}

/*li {list-style: none;}*/

h1{ font-family:'Mabinogi';
    font-size: 50px;
    color: #212931;
    text-align:center;
}
    @media (max-width: 600px) {
        h1 {
          font-size: 20px;
        }
      }


/*전체가운데 정렬*/
#wrapper{max-width: 1080px;
         margin: 0 auto;         
}


header{
    font-family:'Mabinogi';
    float: left;
    width: 100%;     
    height: auto;
    background-color: #00004a;
    color: white;
}
@media (max-width: 600px) {
    header {
      font-size: 5px;
    }
  }



/*메뉴*/

#manu ul li {
    float: left; 
    margin: 0 auto;
    padding: initial  ;
    list-style-type: none;
    text-align:center;
    width: 14.28%; 
    height: 30px;
    line-height: 30px; 
    background-color: #00004a;
    display:block;

}

#manu ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    
}

@media (max-width: 600px) {
    #manu ul li a {
      font-size: 5px;
    }
  }

#manu ul li a:hover:not(.active) {
    background-color: #00004a;
}




.frame1{
    font-family:'Mabinogi';
    clear: left;
    float: left;
    padding-bottom: 75%; 
    max-width: 100%;
    position: relative;
    
    width: auto;
                
}

@media (max-width: 600px) {
    .frame1 {
        width: 100vmin
    }
  }

  
  #viewport{
  font-family:'Mabinogi';
  clear: left;
  float: left;
  padding-bottom: 75%; 
  max-width: 100%;
  position: relative;
  
  width: auto;
              
}

@media (max-width: 600px) {
  #viewport {
      width: 100vmin
  }
}

/* .frame1 iframe{
    position: absolute;
    top: 20px;
    left: 120px;
    width: 1080px;
    height: 100vh;
    
    
} */

/* @media (max-width: 600px) {
    .frame1 iframe{
        width: 100vmin;
        left: 10px;
        
    }
  } */